@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    min-width: 0;
    box-sizing: border-box;
}

html {
    background-color: black;
}

.palitos {
    width: 10px;
    height: full;
    background-color: #22c55e;
    border-radius: 0.375rem;
}